<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>日期時間</th>
      <th>標題</th>
      <th>主辦</th>
      <th>地點</th>
      <th>推薦數</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="evt in events">
      <td>{{ evt.start }}</td>
      <td>{{ evt.title }}</td>
      <td>{{ evt.owner }}</td>
      <td>{{ evt.location }}</td>
      <td>{{ evt.like }}</td>
      <td>
        <a href="{{ evt.link }}" target="_blank" class="btn btn-link">Link</a>
        <button type="button" class="btn btn-success" ng-click="save(evt.eid)">通過</button>
        <button type="button" class="btn btn-danger" ng-click="delete()">刪除</button>
      </td>
    </tr>
  </tbody>
</table>